# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# env files
.env
.env.local
.env*.local

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist
